[Unit]
Description=frontend service
Requires=network-online.target
After=network-online.target

[Service]
User=root
Group=root
EnvironmentFile=/root/environment.txt
Restart=on-failure
ExecStart=/bin/sh -c "/root/run.sh"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
