[Unit]
Description=frontend service
Requires=network-online.target
After=network-online.target

[Service]
User=root
Group=root
EnvironmentFile=/root/environment.txt
Restart=on-failure
ExecStart=/bin/sh -c "docker login rg.fr-par.scw.cloud/tv.pavlovhosting.com-containers -u nologin -p $SCW_SECRET_KEY && docker run -p 80:80 rg.fr-par.scw.cloud/tv.pavlovhosting.com-containers/frontend:latest"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
